@import url('https://fonts.googleapis.com/css?family=Roboto:100');
 * {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
}
 .container {
	 width: 590px;
	 height: 549px;
	 background: #000;
	
	 margin-top: 11px;
	 -webkit-box-shadow: 0px 0px 114px 2px rgba(0, 0, 0, 0.75);
	 -moz-box-shadow: 0px 0px 114px 2px rgba(0, 0, 0, 0.75);
	 box-shadow: 0px 0px 114px 2px rgba(0, 0, 0, 0.75);
}
 .container svg {
	 position: absolute;
}
 /* .rect1 {
	 z-index: 1;
	 stroke-dasharray: 197 509;
	 stroke-dashoffset: -729;
	 transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
	 transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
 .rect2 {
	 z-index: 1;
	 stroke-dasharray: 197 509;
	 stroke-dashoffset: -1058;
	 transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
	 transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.rect3 {
    z-index: 1;
    stroke-dasharray: 197 509;
    stroke-dashoffset: -1258;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
} */
 .text {
	 position: absolute;
	 margin-top: 100px;
	 border: none;
     font-weight: 600;
	 background: #000;
	 margin-left: 101px;
	 color: gray;
	 width: 196px;
	 height: 44px;
	 padding-left: 3px;
	 z-index: 100;
	 font-family: 'Roboto', sans-serif;
	 padding-top: 21px;
	 transition: all 400ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
 .text:focus {
	 outline-width: 0;
	 font-size: 16px;
}
.Email {
    position: absolute;
    margin-top: 150px;
    border: none;
    font-weight: 600;
    background: #000;
    margin-left: 101px;
    color: gray;
    width: 196px;
    height: 44px;
    padding-left: 3px;
    z-index: 100;
    font-family: 'Roboto', sans-serif;
    padding-top: 21px;
    transition: all 400ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.Email:focus {
    outline-width: 0;
    font-size: 16px;
}
.Phone {
    position: absolute;
    margin-top: 200px;
    border: none;
    font-weight: 600;
    background: #000;
    margin-left: 101px;
    color: gray;
    width: 196px;
    height: 44px;
    padding-left: 3px;
    z-index: 100;
    font-family: 'Roboto', sans-serif;
    padding-top: 21px;
    transition: all 400ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.Phone:focus {
    outline-width: 0;
    font-size: 16px;
}
.date {
    position: absolute;
    margin-top: 250px;
    border: none;
    font-weight: 600;
    background: #000;
    margin-left: 101px;
    color: gray;
    width: 196px;
    height: 44px;
    padding-left: 3px;
    z-index: 100;
    font-family: 'Roboto', sans-serif;
    padding-top: 21px;
    transition: all 400ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.date:focus {
    outline-width: 0;
    font-size: 16px;
}
.gender-selection:focus {
    outline-width: 0;
    font-size: 16px;
}
.gender-selection {
    font-family: 'Arial', sans-serif;
    color: #bdffbd;
}

.gender-selection input[type="radio"] {
    display: none;
}

.gender-selection label {
    margin-top: 320px;
    padding: 2px 1px;
    border: 1px solid #ccc;
    margin-left: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

 .pass {
	 position: absolute;
	 margin-top: 10px;
	 border: none;
	 background: #000;
     font-weight: 600;
	 margin-left: 101px;
	 color: gray;
	 width: 196px;
	 height: 44px;
	 padding-left: 3px;
	 z-index: 100;
	 font-family: 'Roboto', sans-serif;
	 padding-top: 21px;
	 transition: all 400ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
 .pass:focus {
	 outline-width: 0;
	 font-size: 16px;
}
 button {
	 position: absolute;
	 z-index: 100;
	 width: 149px;
	 height: 43px;
	 border: 1px solid #fff;
	 background: #000;
	 font-family: 'Roboto', sans-serif;
	 color: #fff;
	 font-size: 16px;
	 border-radius: 22px;
	 margin-top:180px;
	 margin-left: 100px;
	 transition: 0.5s;
	 cursor: pointer;
}
 button:hover {
	 color: #000;
	 background: #fff;
     transition: transform(-10px);
}
 button:focus {
	 outline-width: 0;
}
 .header {
	 position: absolute;
display: block;
justify-content: center;
     text-align: center;
	 font-family: 'Roboto', sans-serif;
	 color: #fff;
	 font-size: 48px;
	 margin-left: 105px;
	 margin-top: 1px;
}
.container .header:hover{
    cursor: pointer;
    text-shadow:  #fff;
}
 .info {
	 position: absolute;
	 text-align: center;
     font-weight: 600;
	 font-family: 'Roboto', sans-serif;
	 color: #bdffbd;
	 font-size: 14px;
	 margin-left: 105px;
     margin-top: 70px;
}